@{
    ViewData["Title"] = "Password Reset";
}

<h1 class="mb-4">Password Reset</h1>

<div class="alert alert-success" role="alert">
    Your password has been reset.
</div>

<p>
    <a asp-action="Login" class="btn btn-primary">Sign In</a>
</p>
