@model Vizora.Models.TransactionUpsertViewModel

@{
    ViewData["Title"] = "Create Transaction";
    var isModalRequest = string.Equals(
        Context.Request.Headers["X-Requested-With"],
        "XMLHttpRequest",
        StringComparison.OrdinalIgnoreCase);

    if (isModalRequest)
    {
        Layout = null;
    }
}

@if (isModalRequest)
{
    @await Html.PartialAsync(
        "~/Views/Shared/_Modal.cshtml",
        new Dictionary<string, object?>
        {
            ["Size"] = "md",
            ["Variant"] = "form",
            ["BodyPartial"] = "~/Views/Transactions/_CreateForm.cshtml",
            ["BodyModel"] = Model
        })
}
else
{
    <h1>Create Transaction</h1>

    <hr />
    <div class="row">
        <div class="col-md-6">
            <partial name="_CreateForm" model="Model" />
        </div>
    </div>
}
